@use "../palette.scss";

.organize-bar {
	width: 100%;
	background-color: palette.$organize-bar-backgorund;
	margin-bottom: 3px;
}

.search-group {
	width: 60%;
	justify-content: flex-start;
}

.search-bar {
	width: 40%;
}

.organize-button {
	margin-left: 1rem;
}

#action-button {
	float: right;
}
