@use "../palette.scss";
@import "~@blueprintjs/core/lib/scss/variables";

.organize-bar {
	width: 100%;
	background-color: palette.$organize-bar-backgorund;
	box-shadow: $pt-elevation-shadow-1;
}

.search-group {
	width: 60%;
	justify-content: flex-start;
}

.search-bar {
	width: 45%;
}

.search-bar-tag {
	font-family: "Rubik";
	background-color: #e8eef2;
	font-weight: 300;
}

.organize-button {
	margin-left: 1rem;
}

#action-button {
	float: right;
}
