@import "~@blueprintjs/core/lib/scss/variables";

.field-name-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	border-radius: 0;
	height: 7vh;
}

.filter-button {
	padding-left: 0 !important;
	padding-right: 0 !important;
	font-family: "Rubik";
	font-weight: 500;
}

.title-field {
	flex-wrap: wrap;
	width: 30%;
	margin-right: 3%;
	font-family: "Rubik";
	font-size: 0.9rem;
	font-weight: 500;
}

.severity-field {
	cursor: pointer;
	width: 7%;
}

.status-field {
	width: 13%;
}

.status-tag {
	font-family: "Rubik";
	width: 65%;
	background-color: white;
	color: $gray2;
	text-align: center;
	font-weight: 600;
	outline: #d2dce2 solid 3px;
	padding: 0 0.2rem;
}

.trader-field {
	width: 25%;
}

.counterparty-field {
	width: 18%;
}

.book-field {
	width: 12%;
}

.source-field {
	width: 12%;
}
