@import "~@blueprintjs/core/lib/scss/variables";
.active-display {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	height: 12vh;
	border-radius: 0;
}

h5 {
	font-size: 0.95rem;
	color: $gray2;
	font-weight: 600;
}
