@use "palette";

.filter-container {
	background-color: palette.$filter-properties-background !important;
	width: 100%;
}

.filter-container .bp4-input {
	background-color: palette.$filter-properties-background !important;
}

.filter-container .bp4-input {
	color: palette.$sidebar-icon-color;
}
