@use "palette";
@import "~@blueprintjs/core/lib/scss/variables";

.navbar {
	font-size: x-small !important;
	font-family: "Signika", sans-serif;
	background-color: palette.$primary-color !important;
	color: white;
	margin-bottom: 3px;
}

.navbar-icon {
	margin-right: 1.5rem;
}

.navbar-buttons .bp4-icon {
	color: palette.$sidebar-icon-color;
}
