@use "palette";
@import "~@blueprintjs/core/lib/scss/variables";

.menu-button {
	background-color: palette.$secondary-color;
	color: palette.$white;
	padding: 0.8rem;
	margin-bottom: 0.1rem;
}

.menu-icon {
	float: right;
}

.menu-button-container .menu-button:hover {
	background-color: palette.$primary-color;
}

.tag {
	color: palette.$white !important;
	background-color: palette.$secondary-color;
	margin: 0.5rem 0.2rem 0 0.2rem;
	outline: 0.07rem solid black;
	height: auto;
	width: auto;
}

.tag-text {
	margin: 0 0.5rem;
}

.tags-container {
	padding: 0 0.5rem 0.5rem;
}
