@use "../palette";
@import "~@blueprintjs/core/lib/scss/variables";

.flags-navbar-container {
	background-color: palette.$secondary-color;
	width: 100%;
	padding: 0.8rem 0.8rem 1.1rem 0.5rem !important;
	display: flex;
	text-align: center;
	align-content: center;
	border-radius: inherit;
	align-items: center;
	height: 7vh;
}

.flags-navbar-button {
	float: left;
	padding-left: 0 !important;
	color: palette.$sidebar-icon-color !important;
}

.flags-navbar-button .bp4-icon {
	margin-right: 0.1rem;
}

.flags-navbar-text {
	position: relative;
	left: 20%;
	align-self: center;
	color: white;
	right: 50%;
}
