@use "../palette";
@import "~@blueprintjs/core/lib/scss/variables";

.navbar {
	font-family: "Rubik", sans-serif;
	background-color: palette.$primary-color !important;
	color: white;
	box-shadow: $pt-elevation-shadow-1;
}

.navbar-heading {
	font-size: 1.3rem;
	letter-spacing: 0.05rem;
}

.navbar-icon {
	margin-right: 15%;
}

.navbar-buttons .bp4-icon {
	color: palette.$sidebar-icon-color;
}
