@use "../palette";
@import "~@blueprintjs/core/lib/scss/variables";

.menu-button {
	background-color: palette.$secondary-color;
	color: palette.$white;
	padding: 0.8rem;
	margin-bottom: 2px;
	border-radius: inherit;
}

.menu-icon {
	color: $pt-icon-color;
	float: right;
}

.menu-button-container .menu-button:hover {
	background-color: palette.$primary-color;
}

.menu-button-container .tag-not-selected {
	background-color: palette.$secondary-color;
}

.menu-button-container .tag-not-selected:hover {
	background-color: palette.$primary-color;
}

.menu-button-container .tag-selected {
	background-color: $forest3;
}

.menu-button-container .tag-selected:hover {
	background-color: $forest1;
}

.tag {
	color: palette.$white !important;
	margin: 0.5rem 0.2rem 0 0.2rem;
	outline: 0.07rem solid black;
}

.tag-text {
	margin: 0 0.5rem;
}

.tags-container {
	padding: 0 0.5rem 0.5rem;
}
